[submodule "algorithms/miz23-sys/extern"]
	path = algorithms/miz23-sys/extern
	url = git@github.com:mogproject/modular-decomposition.git
[submodule "algorithms/lyt15/extern"]
	path = algorithms/lyt15/extern
	url = git@github.com:LyteFM/modular-decomposition.git
